.vscode
# search/__pycache__
# project/__pycache__/
# search/__pycache__/
# search/migrations/__pycache__/
# user/__pycache__/
# user/migrations/__pycache__/
*.pyc
# *.cpython-36.pyc
# search/migrations/__pycache__/0009_auto_20190409_1332.cpython-36.pyc
