{% extends "search/base.html" %}
{% block content %}

<center><h1>Search Database</h1></center>
<br></br>

<head>
    <style>
    body {
      background-color: #bcbcbc;
    }
    nav {
      margin: 0;
      padding: 10;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    </style>
    </head>
       
<!-- Each form has it's own column -->
<form action="result" method="GET">
    {% csrf_token %}
    <div class="row">
        <div class="column" style="background-color:#aaa;">
                <center><h2>Artist Info</h2></center>
                <br></br>
                {{artistForm.as_p}}
        </div>
        <div class="column" style="background-color:#bbb;">
                <center><h2>Album Info</h2></center>
                <br></br>
                {{albumForm.as_p}}

        </div>
        <div class="column" style="background-color:#ccc;">
                <center><h2>Song Info</h2></center>
                <br></br>
                {{songForm.as_p}}
        </div>
    </div>
    
    <br> </br>

    <center>
        <input type="submit" name="allSearch" value="Search All">
        <input type="submit" name="artistSearch" value="Search Artist">
        <input type="submit" name="albumSearch" value="Search Album">
        <input type="submit" name="songSearch" value="Search Song">
        <input type="reset" value="Reset Query">
    </center>
    
</form>


{% endblock content %}
