{% extends "search/base.html" %}
{% block content %}
<h1>Hi welcome to my site :sunglasses:</h1>
<form action="result" method="GET">
    {% csrf_token %}
    <div>
        {{artistForm}}

    </div>
    <div>
        {{albumForm}}

    </div>
    <div>
        {{songForm}}

    </div>
    <input type="submit" name="all" value="Search All">
    <input type="submit" name="artistSearch" value="Search Artist">
    <input type="submit" name="song" value="Search Song">
    <input type="submit" name="album" value="Search Album">
    
</form>


{% endblock content %}